{% extends "base.html" %}
{% block content %}

        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1">
                <h1>Fale conosco</h1>
                    <p>O Simple MOOC tem um sistema simples e prático para
                        que o professor disponibilize vídeo-aulas e materiais
                        digitais como: pdf's, slides, imagens ...
                    </p>
                  <h4>Links</h4>
                 <ul>
                     <li>E-mail: <a href="mailto:contato@sisisis.org">Contato@simplemooc.org</a></li>

                 </ul>
                </div>
            </div>


{% endblock %}